---
permalink: .htaccess
---
<FilesMatch ".*\.html">
  Header add Link "<{{ "/assets/css/blog.css" | bust }}>; rel=preload; as=style; crossorigin"
  Header add Link "</assets/fonts/Literata.woff2>; rel=preload; as=font; type=font/woff2; crossorigin"
  Header add Link "</assets/fonts/Literata-Italic.woff2>; rel=preload; as=font; type=font/woff2; crossorigin"
</FilesMatch>

ErrorDocument 404 /404.html

AddType font/woff2 .woff2
AddType image/avif .avif
AddType image/webp .webp
AddDefaultCharset utf-8

<FilesMatch ".*\.(css|js|svg|png|jpe?g|gif|webp|avif|ico|woff2)">
  FileETag MTime Size
</FilesMatch>

ExpiresActive on
ExpiresDefault "access plus 1 minute"

ExpiresByType text/css "access plus 1 year"
ExpiresByType text/javascript "access plus 1 year"
ExpiresByType application/json "access plus 1 day"
ExpiresByType image/avif "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType image/svg+xml "access plus 1 year"
ExpiresByType image/vnd.microsoft.icon "access plus 1 year"
ExpiresByType image/webp "access plus 1 year"
ExpiresByType font/woff2 "access plus 1 year"
