<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% if page.description -%}
    <meta name="description" content="{{ page.description }}">
    {%- endif -%}
    <title>{{ title | escape }} – Codepoints Blog</title>
    <meta name="theme-color" content="#660000">
    <link rel="icon" href="https://codepoints.net/favicon.ico">
    <link rel="stylesheet" href="assets/css/blog.css">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml">
  </head>
  <body>
    <header class="page-header">
      <a href="/" rel="home">
        <img src="assets/images/icon.svg" width="64" height="64" alt="home page">
      </a>
      <p>The Blog of <a href="https://codepoints.net">Codepoints.net</a></p>
    </header>
    <main>
      {%- if page.url != '/' -%}
        <aside>
          <p><a href="/">Back to the blog homepage</a></p>
          {{ page.date }}
        </aside>
      {%- endif -%}
      {{ content }}
    </main>

    <footer class="page-footer">
      <nav>
        <ul>
          <li><a href="https://codepoints.net">codepoints.net</a></li>
          <li><a rel="me" href="https://typo.social/@codepoints">Mastodon</a></li>
          <li><a href="https://codepoints.net/about#this_site">About</a></li>
        </ul>
      </nav>
    </footer>

<script>var _paq=window._paq=window._paq||[];
_paq.push(['disableCookies']);
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function(){
var u="https://stats.codepoints.net/";
_paq.push(['setTrackerUrl',u+'matomo.php']);
_paq.push(['setSiteId','5']);
var d=document,g=d.createElement('script'),s=d.getElementsByTagName('script')[0];
g.async=true;g.src=u+'matomo.js';s.parentNode.insertBefore(g,s);
})()</script>
  </body>
</html>
