{% extends "base.njk" %}

{% block meta %}
  {% if description %}
    <meta name="description" content="{{ description }}">
  {% endif %}
  <link rel="alternate" type="application/atom+xml" href="https://blog.codepoints.net/feed.xml">
{% endblock %}

{% block content %}
  <article>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </article>
{% endblock %}
