{% extends "base.njk" %}

{% block meta %}
  {% if description %}
    <meta name="description" content="{{ description }}">
  {% endif %}
{% endblock %}

{% block content %}
  <article>
    <nav>
      <p><a href="/">Back to the blog homepage</a></p>
    </nav>
    <h1>{{ title }}</h1>
    <aside>
      Published: <time>{{ page.date.toISOString() | truncate(10, true, '') }}</time>.
      Tags: {% for tag in tags -%}
        {%- if tag != 'post' -%}
          <a href="/tag/{{ tag | slugify }}.html">{{ tag }}</a>
          {%- if not loop.last -%}, {% endif -%}
        {%- endif -%}
      {%- endfor -%}
    </aside>
    {{ content | safe }}
    <footer>
      <p><a href="/">Back to the blog homepage</a></p>
    </footer>
  </article>
{% endblock %}
